body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #74ebd5, #ACB6E5);
    color: #333;
    background-attachment: fixed;
}

.container {
    max-width: 600px;
    margin: 5pt auto;
    padding: 2em;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content{
    text-align: center;
}

p {
    font-size: 1.2em;
    text-align: justify;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 1em;
}

header.content {
    display: flex;
    align-items: center; /* Vertically aligns items */
    gap: 15px; /* Adds space between the image and the text */
    padding: 0 0 10pt 0;
}

@media (max-width: 600px) {
    header.content {
        flex-direction: column; /* Stacks items vertically */
        align-items: center; /* Center-aligns content */
        text-align: center; /* Centers text in the header */
    }
}

header.content h1, header.content h2, header.content strong, header.content p {
    margin: 2pt; /* Removes default margins from text elements */
}


.social-icons {
    text-align: center;
}

.social-icons a {
    color: #555; /* Adjust color as needed */
    font-size: 32px;
    text-decoration: none;
    transition: color 0.3s;
}

.github-btn:hover {
    color: #6e5494;
}

.x-platform-btn:hover {
    color: #1f1e1e
}

.instagram-btn:hover {
    color: #e1306c;
}

.google-scholar-btn:hover {
    color: #4285f4;
}

.youtube-btn:hover {
    color: #CC0000;
}

.linkedin-btn:hover {
    color: #006699;
}