@tailwind base;
@tailwind components;
@tailwind utilities;

/***
    * Custom CSS
    * npx tailwindcss -i ./style.css -o ./style-output.css --watch
***/

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px !important;
}

.blog-btn-grad {
    background-image: linear-gradient(to right, #16222A 0%, #3A6073 51%, #16222A 100%);
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(218, 218, 218);
}

.blog-btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}